
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div>Layout Kısmı</div>
    <h2>LAYOUTTTTTT</h2>
    @RenderBody()
</body>
</html>
