@using CoreDepartmentApp.Models
@model List<department>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var dep in Model)
    {
        <tr>
            <td>@dep.id</td>
            <td>@dep.departmentName</td>
            <td><a href="/Depart/RemoveDepartment/@dep.id" class="btn btn-danger">SİL</a></td>
            <td><a href="/Depart/GetDepartment/@dep.id" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Depart/NewDepartman" class="btn btn-primary">Yeni Departman Ekle</a>