@model List<CoreBookcase.Models.Books>

<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
<tr>
    <th>ID</th>
    <th>Book Name</th>
    <th>Author</th>
</tr>
    @foreach(var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.BookName</td>
            <td>@k.Author</td>
        </tr>
    }
</table>

<h2>Gelecek Kitaplar</h2>
@await Component.InvokeAsync("NewBooks")

<partial name="_PartialPage"/>